.header {
  //background-color: $primary-color;
  //background-image: linear-gradient(to right, #434343, rgb(26, 23, 23));
  background-image: linear-gradient(to right, rgb(1, 67, 51), #3a094b);
  margin: 0%;
  padding: 0%;
  flex-direction: row;
  display: flex;
  text-decoration: none;
  width: $max-width;
  height: 120px;
}
.mainNav {
  flex-direction: row;
  display: flex;
  text-decoration: none;
  margin-left: 300px;

  ul {
    flex-direction: row;
    display: flex;
    text-decoration: none;
    margin-top: 40px;
  }
  li {
    text-decoration: none;
    list-style: none;
    padding-left: 90px;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
  }
}
.logo {
  margin-left: 30px;
  margin-top: 20px;
}
